<main>

            <form method="GET" action="index.html">



                <div>
                    <label for="Nome">Nome Completo</label>
                    <br />
                    <input id="nome" type="name" />
                </div>

                <div>
                    <label for="email">E-mail</label>
                    <br />
                    <input id="email" type="email" />
                </div>

                <div>
                    <label for="senha">Senha</label>
                    <br />
                    <input id="senha" type="password" />
                </div>

                <div>
                    <label for="senha">Confirmar Senha</label>
                    <br />
                    <input id="senha" type="password" />
                </div>

                <input type="submit" value="Confirmar" />
            </form>
        </main>