<main>
            <form method="POST" action='@Url.Action("Cadastro", "Cliente")'>
                <div>
                    <label for="Nome">Nome Completo</label>
                    <br />
                    <input id="nome" type="name" name="nome" />
                </div>

                <div>
                    <label for="email">E-mail</label>
                    <br />
                    <input id="email" type="email" name="email" />
                </div>

                <div>
                    <label for="senha">Senha</label>
                    <br />
                    <input id="senha" type="password" maxlength="20" minlength="6" name="senha" />
                </div>

                <div>
                    <label for="senha">Confirmar Senha</label>
                    <br />
                    <input id="senha" type="password" maxlength="20" minlength="6" name="confirmar-senha" />
                </div>

                <input type="submit" value="Confirmar" />
            </form>
        </main>