<main>
            <form method="POST" action='@Url.Action("Login", "Cliente")'>
            
                <div>
                    <label for="email">E-mail</label>
                    <br />
                    <input id="email" type="email" />
                </div>
    
                <div>
                    <label for="senha">Senha</label>
                    <br />
                    <input id="senha" type="password" />
                </div>
    
                <a href="index.html"><input type="submit" value="Entrar"/></a>
                
            </form>
        </main>